.material-symbols-outlined {
  color: var(--color--white);
  font-size: 2rem;
  transition: background-color 0.25s ease-in-out;
  pointer-events: all;
  border-radius: 0.4rem;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.15);
  }
}
